<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/"
      layout:decorator="layout">
  <head>
    <title>ログインフォーム</title>
  </head>
  <body>
    <div layout:fragment="content">
      <form class="form-signin" method="post" th:action="@{/login}">
        <h2 class="form-signin-heading">ログインフォーム</h2>
        <div th:if="${param.error}" class="alert alert-danger">
          ユーザー名またはパスワードが正しくありません。
        </div>
        <input type="text" class="form-control" name="username" placeholder="User name" required="required"
               autofocus="autofocus"/>
        <input type="password" class="form-control" name="password" placeholder="Password" required="required"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">ログイン</button>
      </form>
    </div>
  </body>
</html>